<div class="d-flex justify-content-center">
  <div class="w-25">

    <app-request-for-a-salary *ngIf="currentTask?.name === 'Request for a salary' || (!message && !currentTask)"></app-request-for-a-salary>

    <ngx-spinner
      *ngIf="currentTask?.name === 'Check salary'"
      bdColor="rgba(89, 162, 241, 0.91)"
      size="medium"
      color="#fff"
      type="ball-beat"
    >
      <p style="font-size: 20px; color: white">Waiting approval of the request...</p>
    </ngx-spinner>
    <app-create-request *ngIf="currentTask?.name === 'Create request'"></app-create-request>

    <div
      *ngIf="message"
      class="alert m-4"
      [class.alert-danger]="message.includes('rejected')"
      [class.alert-success]="message.includes('approved')"
      role="alert">
      {{message}}
    </div>
  </div>
</div>


