<div>
  <h3>Create request</h3>

  <form [formGroup]="form" (submit)="sendRequest()">
    <div class="form-group mb-2">
      <label for="exampleInputFirstName1">First name</label>
      <input formControlName="firstname" type="text" class="form-control" id="exampleInputFirstName1" aria-describedby="offerHelp" placeholder="First name">
    </div>
    <div class="form-group mb-2">
      <label for="exampleInputLastName1">Last name</label>
      <input formControlName="lastname" type="text" class="form-control" id="exampleInputLastName1" placeholder="Last name">
    </div>
    <div class="form-group mb-2">
      <label for="exampleInputPassport1">Passport number</label>
      <input formControlName="passportnumber" type="text" class="form-control" id="exampleInputPassport1" placeholder="Passport number">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

